
nodes:

- name: image loader
  file: reader.py
  package: my-filters
  outputs: [image]
  params: [input files: '/home/dan/imglib2-tutorials/images/*.tiff']
 
- name: filters
  file: filter.py
  package: my-filters
  inputs: [image]
  outputs:
    - image.filter.gaussian
    - image.filter.laplace
  params: [sigma: 4]
  
- name: viewer
  file: viewer.py
  package: builtin
  inputs: [image.filtered.gaussian]
  params: [view: all]

